.freshfree-development__textblock {
  @include margin-bottom-last(40px);

  @media (max-width: $l-max-width) {
    color: black;
  }

  @media (min-width: $xl-min-width) {
    @include margin-bottom-last(64px);

    &--1 {
      width: 700px;
    }

    &--2 {
      width: 650px;
    }
  }
}
