.freshfree-development__container {
  padding-top: 64px;
  padding-bottom: 64px;

  @media (min-width: $xl-min-width) {
    min-height: 1062px;
    padding-top: 182px;
    padding-left: var(--g_page-left-shift);
    background-color: $ocher;
    background-image: url("../img/freshfree-development__container.jpg");
    background-repeat: no-repeat;
  }
}
