.freshfree-development(
  class=getModifiers('freshfree-page__nest', ['development'])
)
  -
    const DEVELOPMENT_PARAGRAPHS = [
      'Основной задачей на данном этапе стала реализация системы лояльности, которая помогает формировать клиентскую базу. Покупатели получают специальные бонусы на праздники, дни рождения, а также в зависимости от совершаемых покупок начисляются баллы, которыми можно расплачиваться в дальнейшем.',
      'Для проекта была подобрана оптимальная команда, которая позволила разработать проект отконцепции с учетом пожеланий клиента до полной реализации и развития интернет-магазина.',
    ];
  .freshfree-s_container.freshfree-development__container
    each paragraph, index in DEVELOPMENT_PARAGRAPHS
      - const number = index + 1;
      div(class=[
        getModifiers('freshfree-s_textblock', ['light']),
        getModifiers('freshfree-development__textblock', [number]),
        getLastModifier('freshfree-development__textblock', DEVELOPMENT_PARAGRAPHS, number, false),
      ])
        case number
          when 1
            h2.freshfree-s_headline.freshfree-s_textblock__headline.freshfree-development__headline Разработка
          when 2
            h3.freshfree-s_subtitle.freshfree-s_textblock__subtitle.freshfree-development__subtitle Верстка и программирование
        p.freshfree-s_paragraph(class=[
            getModifiers('freshfree-s_textblock__paragraph', ['last']),
            'freshfree-development__paragraph',
          ])= paragraph
