.freshfree-s_headline {
  font-weight: 700;
  font-size: 24px;

  @media (min-width: $xl-min-width) {
    display: flex;
    align-items: baseline;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 42px;
    line-height: 52px;
    text-transform: uppercase;

    &::before {
      content: "";
      width: 13px;
      height: 29px;
      margin-right: 32px;
      background-color: $salad;
    }

    &--small {
      font-size: 36px;
    }
  }
}
