.freshfree-features__item {
  @mixin features-item-background($vp) {
    $features-backgrounds: (
      shield: (s: 79px 88px, xl: 79px 88px,),
      brain: (s: 103px 82px, xl: 91px 73px,),
      shape: (s: 157px 71px, xl: 135px 60px,),
      lightning: (s: 58px 103px, xl: 56px 99px,),
    );

    @each $modifier, $bg-set in $features-backgrounds {
      $bg-vp-sizes: map-get($bg-set, $vp);

      &--#{$modifier} {
        background-image: url("../img/freshfree-features__item--#{$modifier}.svg");
        background-position-y: if($modifier == shape, 25px, 0);
        background-size: $bg-vp-sizes;
      }
    }
  }

  font-size: 14px;
  background-position-x: center;
  background-repeat: no-repeat;

  @media (max-width: $l-max-width) {
    @include features-item-background(s);
    padding-top: 120px;
    letter-spacing: 0.04em;
    text-align: center;
    text-transform: uppercase;
    color: white;

    &--shape {
      order: 1;
    }
  }

  @media (min-width: $xl-min-width) {
    @include features-item-background(xl);
    font-weight: 400;
    font-size: 16px;
    padding-top: 128px;
    line-height: 20px;
  }
}
