.freshfree-features__item {
  $features-items: (
    (shield, 79px 88px,),
    (brain, 103px 82px,),
    (shape, 157px 71px,),
    (lightning, 58px 103px,),
  );

  @include font(400, 16px);
  padding-top: 128px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background-position-x: center;
  background-repeat: no-repeat;

  @each $modifier, $sizes in $features-items {
    &--#{$modifier} {
      background-image: url("../img/freshfree-features__item--#{$modifier}.svg");
      background-position-y: if($modifier == shape, 25px, 0);
      background-size: $sizes;
    }
  }
}
