mixin freshfree-s_picture()
  - const { class: classnames, src, alt, role } = attributes;
  picture.freshfree-s_picture(class=classnames)
    img.freshfree-s_picture__image(src=src, alt=alt, role=role)
