.freshfree-s_subtitle {
  @include font(900, 14px);
  margin-top: 0;
  margin-bottom: 0;

  @media (min-width: $xl-min-width) {
    @include font(500, 22px);
    line-height: 28px;

    &--large {
      font-size: 24px;
      line-height: 30px;
    }
  }
}
