.freshfree-s_subtitle {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 900;
  font-size: 14px;

  @media (min-width: $xl-min-width) {
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;

    &--large {
      font-size: 24px;
      line-height: 30px;
    }
  }
}
