extends ../base/_page_template

block page
  body.freshfree-page
    .freshfree-page__container
      include ../components/capital/_intro/_intro
      include ../components/capital/_analysis/_analysis
      include ../components/capital/_projecting/_projecting
      include ../components/capital/_design/_design
      include ../components/capital/_development/_development
    script(src='js/picturefill.js')
    script(src='js/design__tabs.js')
