extends ../base/_page_template

block page
  body.freshfree-page
    .freshfree-page__container
      include ../components/capital/_intro/_intro
      include ../components/capital/_analysis/_analysis
    script(src='js/picturefill.js')

