.freshfree-design__picture {
  @mixin design-picture-sizes($set) {
    $design-picture-sizes: (
      s: (531 860, 288 553, 320 448, 288 183,),
      xl: (531 860, 542 1041, 554 786, 664 423,),
    );

    $sizes: map-get($design-picture-sizes, $set);

    @for $i from 1 through length($sizes) {
      &--#{$i} {
        $size: nth($sizes, $i);

        width: #{nth($size, 1)}px;
        height: #{nth($size, 2)}px;
      }
    }
  }

  @media (max-width: $l-max-width) {
    @include design-picture-sizes(s);

    &--1 {
      display: none;
    }

    &--2 {
      margin-bottom: 64px;
    }

    &--3 {
      position: absolute;
      top: 48px;
      left: -16px;
      display: none;

      .is-catalog-shown & {
        display: block;
      }
    }
  }

  @media (min-width: $xl-min-width) {
    @include design-picture-sizes(xl);

    &--1 {
      grid-area: 2 / 1 / 4 / 3;
      z-index: 1;
    }

    &--2 {
      grid-area: 1 / 2 / 3 / 4;
    }

    &--3 {
      grid-area: 1 / 1 / 4 / 2;
    }
  }
}
