.freshfree-design__inner-wrapper {
  background-color: white;

  @media (max-width: $l-max-width) {
    @include padding-hor();
    position: absolute;
    top: 48px;
    left: -16px;
    display: none;
    padding-top: 24px;

    .is-product-card-shown & {
      display: block;
    }
  }

  @media (min-width: $xl-min-width) {
    grid-area: 2 / 2 / 3 / 3;
    padding-top: 67px;
    padding-left: 54px;
  }
}
