.freshfree-design__container {
  $design-background-data: (
    (
      image: "linear-gradient(180deg, #{$gray-background} 922px, transparent 922px)",
      position: "top left",
      size: "auto",
      repeat: "no-repeat",
    ),
    (
      image: "url(\"../img/freshfree-design__container.svg\")",
      position: "calc(100% + 118px) calc(100% + 69px)",
      size: "1020px 1097px",
      repeat: "no-repeat",
    ),
  );

  @include set-background($design-background-data);
  padding-top: 106px;
}
