.freshfree-design__row {
  &--top {
    margin-bottom: 40px;
  }

  @media (max-width: $l-max-width) {
    &--bottom {
      position: relative;
      padding-bottom: 472px;
    }
  }

  @media (min-width: $xl-min-width) {
    display: grid;

    &--top {
      grid-template-rows:
        minmax(482px, auto)
        minmax(559px, auto)
        minmax(300px, auto)
        1fr;
      grid-template-columns: auto 24px 1fr;
      margin-bottom: 77px;
      padding-left: var(--g_page-left-shift);
      padding-right: 144px;
    }

    &--bottom {
      grid-template-rows: 90px 493px 1fr;
      grid-template-columns: 554px 803px;
      justify-content: space-between;
    }
  }
}
