html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: $s-min-width;
  margin: 0;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1;
  font-family: "helveticaneuecyr", "Arial", sans-serif;
  color: black;
  background-color: white;

  @media (min-width: $xl-min-width) {
    font-weight: 300;
    font-size: 22px;
    letter-spacing: 0.25px;
    color: $gray-text-basis;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

img,
svg,
picture,
video {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
}

button {
  display: block;
  cursor: pointer;
}
