@mixin font(
  $fontWeight: 300,
  $fontSize: 22px,
  $fontFamily: helveticaneuecyr,
) {
  font-weight: $fontWeight;
  font-size: $fontSize;
  font-family: "#{$fontFamily}", "Arial", sans-serif;
  letter-spacing: 0.25px;
}
