@mixin font(
  $fontWeight: 300,
  $fontSize: 22px,
  $fontFamily: helveticaneuecyr,
) {
  font: {
    weight: $fontWeight;
    size: $fontSize;
    family: "#{$fontFamily}", "Arial", sans-serif;
  }
  letter-spacing: 0.25px;
}
