@mixin set-background($data) {
  $initial-props: map-keys(nth($data, 1));
  $props-length: length($initial-props);
  $data-length: length($data);
  $props: ();

  @each $value in $initial-props {
    $props: append($props, background-#{$value}, comma);
  }

  $value-list: ();

  @for $i from 1 through $props-length {
    $current-initial-prop: nth($initial-props, $i);
    $value: "";

    @for $j from 1 through $data-length {
      $current-datum: nth($data, $j);
      $current-value: nth(nth($current-datum, $i), 2);

      @if $j != $data-length {
        $swap-string: str-insert($current-value, ", ", -1);
        $value: str-insert($value, $swap-string, -1);
      } @else {
        $value: str-insert($value, $current-value, -1);
      }
    }

    $value-list: append($value-list, $value, comma);
  }

  @for $i from 1 through $props-length {
    #{nth($props, $i)}: #{nth($value-list, $i)};
  }
}
