-
  const getModifiers = function getBemModifierClassnames(blockname, modifiers, isBlocknameNeeded=true) {
    const modifierClassnames = [];
    if (isBlocknameNeeded) {
      modifierClassnames.push(blockname);
    }
    modifiers.forEach(function (item) {
      const modifierClassname = `${blockname}--${item}`;
      modifierClassnames.push(modifierClassname);
    });
    return modifierClassnames;
  };
