.freshfree-analysis(class=getModifiers('freshfree-page__nest', ['analysis']))
  .freshfree-s_container.freshfree-analysis__container
    +freshfree-s_picture().freshfree-analysis__picture(
      src='img/freshfree-analysis__image.jpg',
      alt='Специи',
    )
    div(class=[
      getModifiers('freshfree-s_textblock', ['light']), 'freshfree-analysis__textblock',
    ])
      h2(class=[
        getModifiers('freshfree-s_headline', ['small']),
        'freshfree-s_textblock__headline',
        'freshfree-analysis__headline',
      ]) Анализ рынка
      p.freshfree-s_subtitle.freshfree-s_textblock__subtitle.freshfree-analysis__subtitle Мониторинг конкурентов, изучение целевой аудитории
      p.freshfree-s_paragraph(class=[
        getModifiers('freshfree-s_textblock__paragraph', ['last']),
        'freshfree-analysis__paragraph',
      ]) Наши специалисты проанализировали большое кол-во интернет магазинов по продаже продуктов здорового питания. Результаты показали, что для такого ресурса большое значение имеет детальное описание продукции с основными ценностями компонентов и удобное разделение каталога на отдельные категории.
