.freshfree-analysis.freshfree-page__analysis
  .freshfree-s_container.freshfree-analysis__container
    +freshfree-s_picture().freshfree-analysis__picture(
      src='img/freshfree-analysis__image.jpg',
      alt='Специи',
    )




//- .freshfree-analysis__
